body {
  font-family: verdana,sans-serif;
  margin: 0;
}

/* sections */
section {
  margin: 67px 32px;
  clear: both;
}

#home, #menu {
  margin: 0;
}

/* general type styles */
img{
  width: 100%;
}

h1 {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: normal;
  padding-bottom: 18px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: rgb(240, 240, 240);
}

h2 {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: normal;
  margin: 5px 0;
}

h3 {
  font-weight: normal;
  color: gray;
  font-size: 100%;
}

p {
  font-size: 94%;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* flex settings */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flex div{
  flex: 25%;
  max-width: 24%;
}

@media (max-width: 1000px) {
  .flex div {
    flex: 50%;
    max-width: 49%;
  }
}

@media (max-width: 600px) {
  .flex div {
    flex: 100%;
    max-width: 100%;
  }
  
  #menu_box li{
    display: none;
  }
  
  #logo_text_name{
    display: none;
  }
}

/* fixed toolbar on top */
#menu_box{
  position: fixed;
  box-sizing: border-box;
  z-index: 100;
  width: 100%;
  top: 0;
  padding: 17px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

#menu_box li{
  float: right;
}
#menu_box li a {
  text-decoration: none;
  color: black;
  font-size: 95%;
  letter-spacing: 4px;
  padding: 10px 15px;
}

#menu_box li a:hover {
  background-color: rgb(200, 200, 200);
}

/*big logo image header */
#logo_background{
  position: relative;
}

#logo_text{
  position: absolute;
  top: 49%;
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 36px;
  letter-spacing: 4px;  
  color: rgba(255,255,255,0.85);
}

#logo_text_BR{
  background: rgba(0,0,0,0.7);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 17px;
  padding-right: 15px;
}

/*projects section*/
#projects .flex div{
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 8px 0;
}

#projects .flex p{
  position: absolute;
  top: 8px;
  background-color: black;
  color: white;
  font-size: 95%;
  margin: 0;
  padding: 8px 15px;
}

/*staff (team) section*/
#staff .flex div{
  display: inline-block;
  box-sizing: border-box;
  font-weight: normal;
  padding: 8px 0;
}

#staff .flex img{
  filter: grayscale(80%);
}

#staff .flex input{
  width: 100%;
  border: none;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  font-size: 95%;
}

#staff .flex input:hover{
  background-color: rgb(210, 210, 210);
}

/*contact us section*/
#contact input[type=text]{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: solid;
  border-width: 1px;
  border-color: rgb(210, 210, 210);
  font-size: 95%;
}

#contact input[type=submit]{
  padding: 10px 15px;
  margin-top: 25px;
  background-color: black;
  border: none;
  font-size: 95%;
  color: white;
}

#contact input[type=submit]:hover{
  color: black;
  background-color: rgb(210, 210, 210);
}

/*footer section*/
.footer{
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 16px;
  text-align: center;
  background-color: black;
  color: white;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: green;
}